// colors
$backgroundColorPrimary: #F4F9FC;
$backgroundColorSecondary: #FFFFFF;
$borderColor: #E5E9ED;
$textColorPrimary: #002D4F;
$textColorSecondary: #4C6C83;
$textColorAccent: #FFFFFF;
$placeholderColor: rgba($textColorSecondary, .5);
$buttonColorPrimary: #0087EF;

// dimensions
$baseFontSize: 14;
$headerHeight: 64;
$sizeBarWidth: 240;
$inputHeight: 40;
$borderRadius: 5;
