@import "shared";

:host {
  display: flex;
  width: 100%;
}

form {
  position: relative;
  width: 100%;

  app-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    ::ng-deep {
      button {
        padding: 0 em(20);
        min-width: auto;
      }
    }
  }
}
