@import "shared";

:host {
  display: flex;
  align-items: center;
}

app-button {
  ::ng-deep {
    button {
      min-width: auto;
    }
  }
}

.user-image {
  width: em(32);
  height: em(32);
}

.user-name {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.user-image, .user-name {
  margin-right: em(10);
}

.chevron {
  display: flex;
  align-items: center;
  padding-top: em(2);
}
